.flex-con{
    flex-direction: row;
    display: flex;
    background-color: antiquewhite;
   justify-content: center;
   align-items: center;
    
    height: 300px;
}
.flex-con > div{
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 12px;
    border: 2px solid black;
}
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    padding: 1px;
    flex-wrap: wrap;
    gap: 3px;
  }
  nav li{
    flex: auto;
    background-color: aqua;
    text-decoration: none;
    }
  li a{
    text-decoration: none;
  }
.item1 {grid-area: header;}
.item2 {grid-area: menu;}
.item3{grid-area: main;}
.item4{grid-area: right;}
.item5{grid-area: footer;}

.grid-container{
  display: grid;
  grid-template-areas: 'header header header header header header'
                        'menu main main main right right' 
                        'menu footer footer footer footer footer';
  gap: 10px;
  background-color: lightblue;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px}
  @media only screen and (max-width: 760px) {
    .grid-container{ display: grid;
      grid-template-areas:
      'header header header'
      'menu menu main'
      
      'footer right main'
      ;}}
  @media only screen and (max-width: 500px) {
    .grid-container{ grid-template-areas:
      'header '
      'menu'
      'main'
      'right'
      'footer';}
      nav li{
        display: flex;
        flex:100% ;
        max-width: 100%;
        background-color: aqua;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        }
  }